/* Ksm theme css */
form .hide-required .error, form ul #fo221li143  {
   padding-bottom: 9px;
}

form ul #fo221li143 {
   padding-bottom: 0;
}
.hide-required {
    padding-bottom: 0;
    padding-top: 0;
}
.hide-required legend{
    display: none !important;
}
